/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include "behaviors/us_like_jis.dtsi"

#define HYPER LC(LS(LG(LALT)))

// layers

#define DEFAULT 0
#define LOWER 1
#define MAGIC 2
#define FACTORY_TEST 3
#define NUMPAD 4
#define SYMBOLS 5

// JIS key definitions - maps US physical layout to JIS OS output
// Basic symbols

#define JIS_AT        LBKT          // @
#define JIS_BACKQUOTE LS(LBKT)      // `
#define JIS_CARET     EQUAL         // ^
#define JIS_TILDE     LS(EQUAL)     // ~
#define JIS_LBRACKET  RBKT          // [
#define JIS_LBRACE    LS(RBKT)      // {
#define JIS_RBRACKET  BSLH          // ]
#define JIS_RBRACE    LS(BSLH)      // }
#define JIS_SEMICOLON SEMI          // ;
#define JIS_PLUS      LS(SEMI)      // +
#define JIS_COLON     SQT           // :
#define JIS_ASTERISK  LS(SQT)       // *
#define JIS_MINUS     MINUS         // -
#define JIS_EQUAL     LS(MINUS)     // =
#define JIS_UNDERSCORE LS(INT_RO)   // _
#define JIS_QUOTE     LS(N7)        // '
#define JIS_DQUOTE    LS(N2)        // "
#define JIS_AMPERSAND LS(N6)        // &
#define JIS_LPAREN    LS(N8)        // (
#define JIS_RPAREN    LS(N9)        // )

// Japanese specific keys

#define JIS_YEN       INT_RO        // ¥
#define JIS_PIPE      LS(INT_RO)    // | (alternative: LS(YEN))
#define JIS_HENKAN    INT4          // 変換
#define JIS_MUHENKAN  INT5          // 無変換

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <69 74>; // muhenkan (69) + henkan (74) positions
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <37 38>; // D (37) + F (38)
            bindings = <&kp TAB>;
        };
    };

    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to

        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        muhenkan_ht: muhenkan_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MUHENKAN_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        henkan_ht: henkan_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HENKAN_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        semicolon_rctrl: semicolon_rctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "SEMICOLON_RCTRL";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&jis_COLON>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   `  |  (US layout, JIS keycodes)
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   -  |
            // | CTRL  | A/Ctrl | S/Shift | D | F | G   |                                                 |  H   |   J   |   K   | L/Shift | ;/Ctrl |   '  |  (Home row mods)
            // | SHFT  |  Z  |  X  |  C   |  V   |  B   |  }    | DEL   | ALT   | | ALT   | BSPC  |  {    |  N   |   M   |   ,   |  .   |   /   |   =  |
            // | MAGIC | HOME| END | LEFT | RIGHT|      | 無変換 | SPACE | GUI   | | GUI   | ENTER | 変換  |      |  UP   | DOWN  | Shift | PGUP | PGDN |

            bindings = <
&kp F1          &kp F2    &kp F3   &kp F4    &kp F5                                                                                                                   &kp F6   &kp F7     &kp F8         &kp F9      &kp F10
&kp ESC         &jis_N1   &jis_N2  &jis_N3   &jis_N4    &jis_N5                                                                                              &jis_N6  &jis_N7  &jis_N8    &jis_N9        &jis_N0     &jis_GRAVE
&kp TAB         &kp Q     &kp W    &kp E     &kp R      &kp T                                                                                                &kp Y    &kp U    &kp I      &kp O          &kp P       &jis_US_MINUS
&kp LCTRL       &mt LCTRL A  &mt LSHFT S  &kp D  &kp F  &kp G                                                                                           &kp H    &kp J    &kp K      &mt RSHFT L    &semicolon_rctrl RCTRL 0  &jis_QUOTE
&kp LSHFT       &kp Z     &kp X    &kp C     &kp V      &kp B    &jis_LBKT                 &kp DEL    &kp LALT  &kp LALT  &kp BSPC  &jis_RBKT                &kp N    &kp M    &kp COMMA  &kp DOT        &kp FSLH    &jis_EQUAL
&magic MAGIC 0  &kp HOME  &kp END  &kp LEFT  &kp RIGHT           &muhenkan_ht NUMPAD INT5  &kp SPACE  &kp LGUI  &kp LGUI  &kp RET   &henkan_ht SYMBOLS INT4           &kp UP   &kp DOWN   &kp BACKSPACE  &kp PG_UP   &kp PG_DN
            >;
        };

        lower_layer {
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_PREV  &kp C_NEXT  &kp C_PP                                                                               &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP   &none            &kp PAUSE_BREAK
&trans        &none         &none       &none       &none      &kp HOME                                                        &kp LS(N8)  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp PSCRN
&trans        &none         &none       &kp UP      &none      &kp END                                                         &kp LS(N9)  &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp MINUS        &kp SLCK
&trans        &none         &kp LEFT    &kp DOWN    &kp RIGHT  &kp PG_UP                                                       &kp PRCNT   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp LS(SEMI)     &none
&trans        &kp K_CMENU   &none       &kp F11     &kp F12    &kp PG_DN  &trans  &trans  &to DEFAULT  &trans  &trans  &trans  &kp COMMA   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &trans
&trans        &kp CAPS      &kp INS     &kp F11     &kp F12               &trans  &trans  &trans       &trans  &trans  &trans              &kp KP_N0   &kp KP_N0     &kp KP_DOT     &kp KP_ENTER     &trans
            >;
        };

        magic_layer {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                     &none  &none  &none  &none  &bt BT_CLR_ALL
&none        &none            &none            &none            &none            &none                                                             &none  &none  &none  &none  &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                   &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                   &none  &none  &none  &none  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &none         &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB  &none  &none  &none         &none  &none  &none  &none  &to FACTORY_TEST
            >;
        };

        factory_test_layer {
            bindings = <
&kp N0  &kp N6  &kp N2  &kp N8  &kp N4                                                                  &kp N4  &kp N8  &kp N2  &kp N6  &kp N0
&kp N1  &kp N7  &kp N3  &kp N9  &kp N5  &kp N0                                                  &kp N0  &kp N5  &kp N9  &kp N3  &kp N7  &kp N1
&kp N2  &kp N8  &kp N4  &kp N0  &kp N6  &kp N1                                                  &kp N1  &kp N6  &kp N0  &kp N4  &kp N8  &kp N2
&kp N3  &kp N9  &kp N5  &kp N1  &kp N7  &kp N2                                                  &kp N2  &kp N7  &kp N1  &kp N5  &kp N9  &kp N3
&kp N4  &kp N0  &kp N6  &kp N2  &kp N8  &kp N3  &kp N4  &kp N5  &kp N6  &kp N6  &kp N5  &kp N4  &kp N3  &kp N8  &kp N2  &kp N6  &kp N0  &kp N4
&kp N5  &kp N1  &kp N7  &kp N3  &kp N9          &kp N7  &kp N8  &kp N9  &kp N9  &kp N8  &kp N7          &kp N9  &kp N3  &kp N7  &kp N1  &kp N5
            >;
        };

        numpad_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // NUMPAD layer: asdfgzxcvb = 1234567890, qwertyuiop = !@#$%^&*()
            // |       |     |     |      |      |                                                               |       |       |      |       |      |
            // |       |  !  |  @  |  #   |  $   |  %   |                                                 |  ^   |   &   |   *   |  (   |   )   |      |
            // |       |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |      |
            // |       |  1  |  2  |  3   |  4   |  5   |                                                 |  H   |   J   |   K   |  L   |   ;   |      |
            // |       |  6  |  7  |  8   |  9   |  0   |       |       |       | |       |       |       |  N   |   M   |   ,   |  .   |   /   |      |
            // |       |     |     |      |      |      |       |       |       | |       |       |       |      |       |       |      |       |      |

            bindings = <
&trans  &trans  &trans    &trans    &trans                                                                         &trans     &trans      &trans       &trans      &trans
&trans  &trans  &kp EXCL  &kp LBKT  &kp HASH  &kp DLLR                                                  &kp PRCNT  &kp EQUAL  &kp LS(N6)  &kp LS(SQT)  &kp LS(N8)  &kp LS(N9)
&trans  &trans  &trans    &trans    &trans    &trans                                                    &trans     &trans     &trans      &trans       &trans      &trans
&trans  &trans  &kp N1    &kp N2    &kp N3    &kp N4                                                    &kp N5     &trans     &trans      &trans       &trans      &trans
&trans  &trans  &kp N6    &kp N7    &kp N8    &kp N9    &kp N0  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans      &trans       &trans      &trans
&trans  &trans  &trans    &trans    &trans              &trans  &trans  &trans  &trans  &trans  &trans             &trans     &trans      &trans       &trans      &trans
            >;
        };

        symbols_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // SYMBOLS layer - all symbols are shifted versions (JIS keycodes)
            // |       |     |     |      |      |                                                               |       |       |      |       |      |
            // |   ~   |  !  |  @  |  #   |  $   |  %   |                                                 |  ^   |   &   |   *   |  (   |   )   |   _  |
            // |       |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   +  |
            // |       |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   :   |   "  |
            // |       |  Z  |  X  |  C   |  V   |  B   |   }   |       |       | |       |       |   {   |  N   |   M   |   <   |  >   |   ?   |      |
            // |       |     |     |      |      |      |       |       |       | |       |       |       |      |       |       |  {   |   }   |      |

            bindings = <
&trans          &trans         &trans    &trans    &trans                                                                                    &trans     &trans      &trans         &trans        &trans
&trans          &kp LS(EQUAL)  &kp EXCL  &kp LBKT  &kp HASH  &kp DLLR                                                        &kp PRCNT       &kp EQUAL  &kp LS(N6)  &kp LS(SQT)    &kp LS(N8)    &kp LS(N9)
&kp LS(INT_RO)  &trans         &trans    &trans    &trans    &trans                                                          &trans          &trans     &trans      &trans         &trans        &trans
&kp LS(SEMI)    &trans         &trans    &trans    &trans    &trans                                                          &kp LEFT_ARROW  &kp DOWN   &kp UP      &kp RIGHT      &trans        &kp SQT
&kp LS(N2)      &trans         &trans    &trans    &trans    &trans    &trans  &kp LS(BSLH)  &trans  &trans  &trans  &trans  &kp LS(RBKT)    &trans     &trans      &kp LS(COMMA)  &kp LS(DOT)   &kp LS(FSLH)
&trans          &trans         &trans    &trans    &trans              &trans  &trans        &trans  &trans  &trans  &trans                  &trans     &trans      &trans         &kp LS(RBKT)  &kp LS(BSLH)
            >;
        };
    };
};
